.bg-color-red{
    background-color: red;
    border: 2px, solid, black;
}

.bg-color-green{
    background-color: green;
    border: 2px, solid, yellow;
}

.bg-color-gray{
    background-color: gray;
    border: 2px, solid, blue;
}