.red1{
    color: red;
    font-size: 10px;
}

.pink1{
    color: pink;
}

.green1{
    color: green;
}

.yellow1{
    color:yellow;
}

.purple1{
    color: purple;
}

.white1{
    color: white;
}

.blue1{
    color: blue;
}